HOSTDB=localhost
DBNAME=safewalk
USERDB=postgres
PASSWORDDB=yassin123
PORT=3001
JWT_SECRET=safewalk_super_secret_key_change_this_in_production_2024
JWT_EXPIRATION=1h
JWT_REFRESH_SECRET=safewalk_super_secret_refresh_key_change_this_in_production_2024
JWT_REFRESH_EXPIRATION=7d
PEPPER=safewalk_pepper_change_this_in_production_2024