# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
pnpm-lock.yaml

# Env
.env

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# build
dist/
build/

# expo
.expo/
.web-build/

# mobile
android/
ios/

# other
coverage/

# keep package.json and package-lock.json under root and each workspace if needed

